<script id="post-template" type="text/template">
    <div class="js-post">
        <div class="row">
            <div class="feed-post">
               <div class="large-2 columns feed-post-header">
                    <a href="/post/<%= _id %>">
                        <img class="thumbnail" src="<%= url %>"/>
                    </a>
                    <button type="button"
                        class="<% if(liked) { %>js-like bolt-liked<% } else { %>js-like bolt<% }%>"
                        name="<%= _id %>"></button>
                </div>
                <div class="large-10 columns feed-post-content">
                    <a href="/post/<%= _id %>"><h3><%= title %></h3></a>
                    <span class="score"> <%= score %></span>
                    <a href="/u/<%= _username %>"><span class="author"><%= _username %></span></a>
                    <a href="/post/<%= _id %>"><span class="comment-count"><%= commentNumber %> comments</span></a>
                    <span class="date"><%= date %></span>
                    <p class="snippet"><%= snippet %>
                        <% if(snippet.length != 0) { %><a href="/post/<%= _id %>">[...]</a><% } %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</script>
