<div class="row">
    <div class="large-12 columns container">
        <div class="user-header">
            <a href="/"><h2 class="navigation">Back to feed</h2></a>
        </div>
        <div class="error-container">
            <h3 class="error-header">{{message}}</h3>
            <h3 class="error-header">{{error.status}}</h3>
        </div>
    </div>
</div>

<!-- Data Load Point -->
<script id="init-data" type="application/json">
    {{{initData}}}
</script>

<!-- Load Page Specific Scripts -->
{{#yield-scripts}}
    <script src="/js/dataLoader.js"></script>
{{/yield-scripts}}
