<div class="row js-compose">
    <div class="large-12 columns container">
        <div class="container-header">
            <h2>Make a post</h2>
        </div>


        <div class="forms">
            <div class="form-wrapper">
                <form class="js-compose" id="form" data-toggle="validator"
                    role="form" action="/post" method="post">
                    <input type="hidden" id="upload_url" name="upload_url" value="">
                    <div class="form-group">
                        <h4>POST TITLE</h4>
                        <input type="text" name="title" id="postTitle" placeholder="Enter post title" minlength="6"
                            maxlength="200" data-error="Post title must be between 6 and 200 characters" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <h4>IMAGE (Optional)</h4>
                        <div class="upload-hidden-input button upload-button">
                            <input class="js-image-upload" type="file" id="file_input">
                            <p id="status">Please select a file</p>
                        </div>
                        <input type="url" pattern=".*\.(jpeg|jpg|gif|png|JPEG|JPG|GIF|PNG)$"
                            class="js-image" name="url" placeholder="Or paste URL (http://example.com/image.jpeg)"
                            data-error="Please enter a valid URL for a JPEG, GIF, or PNG image">
                        <div class="help-block with-errors"></div>
                        <div class="preview-container">
                            <img id="preview" src="/images/loading.gif">
                        </div>
                    </div>
                    <div class="form-group">
                        <h4>POST TEXT</h4>
                        <textarea rows="5" name="description" id="postDescription" maxlength="2500"
                            placeholder="Enter a description. Paste Soundcloud, Youtube, and Vimeo links to embed songs and videos."></textarea>
                    </div>
                    <div class="form-group">
                        <button class="button post-button" type="submit">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Load page specific scripts -->
{{#yield-scripts}}
    <script src="/bower_components/H5F/h5f.min.js"></script>
    <script src="/bower_components/bootstrap-validator/dist/validator.min.js"></script>
    <script src="/js/polyfill.js"></script>
    <script src="/js/bundles/Compose.js"></script>
{{/yield-scripts}}
