<div class="js-contact row">
    <div class="large-12 columns container">
        <div class="container-header">
            <h2>CONTACT</h2>
        </div>
        <div class="post">
            <div class="post-description">
                <h3 class="welcome-header contact-header">Drop us a Line</h3>
                <p>Thanks for visiting Cruel.co! We are a group of young people from across Canada who are inspired by arts, music, and nightlife. If you're interested in getting in touch, use the contact form below, or shoot us an e-mail at <span class="welcome-a">hello@cruel.co</span>.</p>
            </div>
        </div>
        <div class="contact-links">
            <a href="https://www.facebook.com/CruelCo" target="_blank">
                <img class="contact-icon" src="/images/facebook-contact.png">
            </a>
            <a href="https://www.linkedin.com/company/cruel-collective" target="_blank">
                <img class="contact-icon" src="/images/linkedin.png">
            </a>
        </div>
        <div class="js-success"></div>
        <div class="forms contact-forms">
            <div class="form-wrapper">
                <div class="js-errors"></div>
                <form class="js-contact-form" id="form" data-toggle="validator"
                    role="form" action="/contact" method="post">
                    <div class="form-group">
                        <h4>Email</h4>
                        <input class="js-contact-email" type="email" name="email" id="email" placeholder="john@example.com"
                            data-error="Please enter a valid email address" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <h4>Message</h4>
                        <textarea class="js-contact-body" rows="5" 
                            placeholder="Write your message here..."></textarea>
                    </div>
                    <div class="form-group">
                        <button class="js-contact-submit button post-button" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Templates -->
<script id="contact-empty-template" type="text/template">
    <p>A valid email and a message must be entered.</p>
</script>

<script id="contact-success-template" type="text/template">
    <p>Your message has been sent, we will get back to you as soon as we can.</p>
</script>

<script id="contact-failure-template" type="text/template">
    <p>Something went wrong, please try again.</p>
</script>

<!-- Data Load Point -->
<script id="init-data" type="application/json">
    {{{initData}}}
</script>

<!-- Load Page Specific Scripts -->
{{#yield-scripts}}
    <script src="/js/dataLoader.js"></script>
    <script src="/js/bundles/Contact.js"></script>
{{/yield-scripts}}
