<div class="row">
        <div class="large-12 columns container">
            <div class="container-header">
                <h2>CONTACT</h2>
            </div>
            <div class="forms">
                <div class="form-wrapper">
                    <form class="js-edit" id="form" data-toggle="validator"
                        role="form" action="/user/edit" method="post">
                        <div class="form-group">
                            <h4>Email</h4>
                            <input type="email" name="email" id="email" placeholder="john@example.com"
                                data-error="Please enter a valid email address" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <h4>Message</h4>
                            <textarea rows="5" 
                                placeholder="Write your message here..."></textarea>
                        </div>
                        <div class="form-group">
                            <button class="button post-button" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>