<div class="js-app">
    <div class="row">
        <div class="large-12 columns container">
            <div class="container-header">
                <!-- City Header -->
                <h2 class="js-location-name"></h2>
                <!-- Feed sort options -->
                <div class="sorting">
                    <span class="sortlabel">Browse by:</span>
                    <select class="js-sort">
                        <option value="new">New</option>
                        <option value="top">Top</option>
                        <option value="hot">Hot</option>
                        <option value="week">Week</option>
                        <option value="month">Month</option>
                    </select>
                    <!-- Feed location options -->
                    <select class="js-location">
                        <option value="all">All</option>
                        {{#locations}}
                            <option value="{{_id}}">{{name}}</option>
                        {{/locations}}
                    </select>
                </div>
            </div>
            <!-- Feed load point -->
            <div class="js-feed"></div>
            <div class="js-loading"></div>
        </div>
    </div>
</div>

{{> feedPostTemplate}}
{{> feedScripts}}

<!-- Data Load Point -->
<script id="init-data" type="application/json">
    {{{initData}}}
</script>

<!-- Load page specific scripts -->
{{#yield-scripts}}
    <script src="/bower_components/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
    <script src="/js/dataLoader.js"></script>
    <script src="/js/bundles/feed.js"></script>
{{/yield-scripts}}

