<!DOCTYPE html>
<html lang="en" style="background: url({{background}}) no-repeat center center fixed;-webkit-background-    size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
    <head>
        <!-- Basics -->
        <meta charset="UTF-8">
        <title>Cruel</title>
        <meta name="viewport"    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="keywords"    content="Cruel, campus, culture, swag, Western, Dalhousie, Halifax, Queen's, Queens, Kingston, cruel.co">
        <meta name="description" content="Win Your Campus.">
        <meta propert="og:site_name" content="Cruel.co"/>
        <meta property="og:image"    content="http://cruel.co/images/default-fb.jpg"/>
        <meta name="google-site-verification" content="hnVoNQ3OlfVTPHZOZit_BKH7MflV3m6J5mfRSCGmvOs" />

        <!-- Facebook -->
        {{{ yield-meta }}}

        <!-- Fonts -->
        <link href="//fonts.googleapis.com/css?family=Oswald|Roboto+Condensed:400,700"
            rel="stylesheet" type="text/css">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/bower_components/zoom.js/css/zoom.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
    </head>

    <body>
        <!-- Navbar -->
        <div class="js-nav">
            <div class="cruelheader">
                <div class="row">
                    <div class="large-12 columns">
                        <a href="/">
                            <img src="/images/headerlogo.png" class="logo">
                        </a>
                        <a class="facebook-button-nav facebook-button-nav-mobile" href="https://www.facebook.com/CruelCo" target="_blank"></a>
                        <div class="nav">
                            {{#user._id}}
                                <div class="notification-score-count" tabindex="0">{{user.score}}
                                    {{#user.notifications.hasNew}}
                                        <span class="js-new-score notification-counter">
                                            {{user.notifications.notifications}}
                                        </span>
                                    {{/user.notifications.hasNew}}
                                </div>
                                <div class="notification-box">
                                    <ul class="notifications-list">
                                        {{#user.notifications.hasNew}}
                                            {{#user.notifications.postScore}}
                                                <li class="notification">
                                                    <a href="{{url}}">
                                                        <div class="notification-link">
                                                            <span class="notification-box-score-count">+{{newScore}}</span>
                                                            <span class="notification-title">{{snippet}}</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            {{/user.notifications.postScore}}
                                            {{#user.notifications.commentScore}}
                                                <li class="notification">
                                                    <a href="{{url}}">
                                                        <div class="notification-link">
                                                            <span class="notification-box-comment-like">+{{newScore}}</span>
                                                            <span class="notification-title">{{snippet}}</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            {{/user.notifications.commentScore}}
                                            {{#user.notifications.newComments}}
                                                <li class="notification">
                                                    <a href="{{url}}">
                                                        <div class="notification-link">
                                                            <span class="notification-box-comment">+{{newComments}}</span>
                                                            <span class="notification-title">{{snippet}}</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            {{/user.notifications.newComments}}
                                        {{/user.notifications.hasNew}}
                                        {{^user.notifications.hasNew}}
                                            <li class="notification">
                                                <span class="notification-box-empty">+0</span>
                                                <span class="notification-title">
                                                    No new notifications.
                                                </span>
                                            </li>
                                        {{/user.notifications.hasNew}}
                                    </ul>
                                </div>
                                <a href="/user/{{user.username}}">{{user.username}}</a>
                                <a href="/leaderboard">Ladder</a>
                                <a href="/post">Make A Post</a>
                                <a class="facebook-button-nav" href="https://www.facebook.com/CruelCo" target="_blank"></a>
                                <div class="menu-button" tabindex="0">
                                    <img src="/images/menu-icon.png">
                                </div>
                                <div class="dropdown">
                                    <ul>
                                        <a href="/"><li class="first-link">Home</li></a></br>
                                        <a href="/logout"><li>Logout</li></a></br>
                                        <a href="/contact"><li>Contact</li></a></br>
                                        <a href="/user-agreement"><li>User Agreement</li></a></br>
                                    </ul>
                                </div>
                            {{/user._id}}
                            {{^user._id}}
                                <a href="/leaderboard">Ladder</a>
                                <button class="js-login login-button">Login</button>
                                <a href="/signup">Signup</a>
                                <a class="facebook-button-nav" href="https://www.facebook.com/CruelCo" target="_blank"></a>
                                <div class="menu-button" tabindex="0">
                                    <img src="/images/menu-icon.png">
                                </div>
                                <div class="dropdown">
                                    <ul>
                                        <a href="/"><li class="first-link">Home</li></a></br>
                                        <a href="/contact"><li>Contact</li></a></br>
                                        <a href="/user-agreement"><li>User Agreement</li></a></br>
                                    </ul>
                                </div>
                            {{/user._id}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile Nav -->
            <div class="mobile-nav-bottom">
                {{#user._id}}
                    <div class="dropdown-mobile">
                        <ul>
                            <li>
                                <a href="/">
                                    <div>Home</div>
                                </a>
                            </li>
                            <li>
                                <a href="/leaderboard">
                                    <div>Ladder</div>
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <div>Logout</div>
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    <div>Contact</div>
                                </a>
                            </li>
                            <li>
                                <a href="/user-agreement">
                                    <div>User Agreement</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                {{/user._id}}
                {{^user._id}}
                    <div class="dropdown-mobile">
                        <ul>
                            <li>
                                <a href="/">
                                    <div>Home</div>
                                </a>
                            </li>
                            <li>
                                <button class="js-login login-button-mobile">Login</button>
                            </li>
                            <li>
                                <a href="/signup">
                                    <div>Sign up</div>
                                </a>
                            </li>
                            <li>
                                <a href="/leaderboard">
                                    <div>Ladder</div>
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    <div>Contact</div>
                                </a>
                            </li>
                            <li>
                                <a href="/user-agreement">
                                    <div>User Agreement</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                {{/user._id}}
                <div class="notification-box-mobile">
                    <ul class="notifications-list">
                        {{#user.notifications.hasNew}}
                            {{#user.notifications.postScore}}
                                <li class="notification">
                                    <a href="{{url}}">
                                        <div class="notification-link">
                                            <span class="notification-box-score-count">+{{newScore}}</span>
                                            <span class="notification-title">{{snippet}}</span>
                                        </div>
                                    </a>
                                </li>
                            {{/user.notifications.postScore}}
                            {{#user.notifications.commentScore}}
                                <li class="notification">
                                    <a href="{{url}}">
                                        <div class="notification-link">
                                            <span class="notification-box-comment-like">+{{newScore}}</span>
                                            <span class="notification-title">{{snippet}}</span>
                                        </div>
                                    </a>
                                </li>
                            {{/user.notifications.commentScore}}
                            {{#user.notifications.newComments}}
                                <li class="notification">
                                    <a href="{{url}}">
                                        <div class="notification-link">
                                            <span class="notification-box-comment">+{{newComments}}</span>
                                            <span class="notification-title">{{snippet}}</span>
                                        </div>
                                    </a>
                                </li>
                            {{/user.notifications.newComments}}
                        {{/user.notifications.hasNew}}
                        {{^user.notifications.hasNew}}
                            <li class="notification">
                                <span class="notification-box-empty">+0</span>
                                <span class="notification-title">
                                    No new notifications.
                                </span>
                            </li>
                        {{/user.notifications.hasNew}}
                    </ul>
                </div>
                <div class="mobile-icons">
                    {{#user._id}}
                        <div class="mobile-score" tabindex="0">
                            <div class="mobile-score-count">{{user.score}}
                                {{#user.notifications.hasNew}}
                                    <span class="js-new-score notification-counter-mobile">
                                        {{user.notifications.notifications}}
                                    </span>
                                {{/user.notifications.hasNew}}
                            </div>
                            Score
                        </div>
                        <a href="/" class="js-link-message mobile-feed">
                            <img src="/images/mobile-feed-icon.png" class="feed-icon">Feed
                        </a>
                        <a href="/post" class="js-link-post mobile-post">
                            <img src="/images/mobile-post-icon.png" class="post-icon">Post
                        </a>
                        <a href="/user/{{user.username}}" class="js-link-user mobile-profile">
                            <img src="/images/mobile-profile-icon.png" class="profile-icon">Profile
                        </a>
                        <div class="menu-button-mobile" tabindex="0">
                            <img src="/images/mobile-menu-icon.png" class="menu-icon">More
                        </div>
                    {{/user._id}}
                    {{^user._id}}
                        <div class="mobile-score" tabindex="0">
                            <span class="mobile-score-count">0</span>Score
                        </div>
                        <a href="/" class="js-link-message mobile-feed">
                            <img src="/images/mobile-feed-icon.png" class="feed-icon">Feed
                        </a>
                        <a href="/post" class="js-link-post mobile-post">
                            <img src="/images/mobile-post-icon.png" class="post-icon">Post
                        </a>
                        <a href="/user/{{user.username}}" class="js-link-user mobile-profile">
                            <img src="/images/mobile-profile-icon.png" class="profile-icon">Profile
                        </a>
                        <div class="menu-button-mobile" tabindex="0">
                            <img src="/images/mobile-menu-icon.png" class="menu-icon">More
                        </div>
                    {{/user._id}}
                </div>   
            </div>

            <!-- Modal -->
            <div class="overlay">
                <div class="modal">
                    <button class="js-close modal-close"></button>
                    <h1>You have to be logged in to do that!</h1>
                    <p><button class="js-login js-close modal-button button">Log in</button><a href="/signup" class="modal-button button">Sign up</a></p>
                </div>
            </div>

            <!-- Login Modal -->
            <div class="overlay-login">
                <div class="modal">
                    {{#message.length}}
                        <div>{{message}}</div>
                    {{/message.length}}
                    <form id="form" data-toggle="validator" role="form" action="/login" method="post">
                        <div class="form-group">
                            <h4>Email</h4>
                            <input type="email" name="email" id="email" placeholder="john@example.com"
                                data-error="Please enter a valid email address" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <h4>Password</h4>
                            <input type="password" name="password" id="password" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <input class="js-referer" type="hidden" name="referer" value="">
                        <div class="form-group">
                            <button class="button modal-button modal-login-button" type="submit">Login</button>
                        </div>
                        <p class="no-account"><a href="/forgot">Forgot your password?</a></p>
                        <p class="no-account"><a href="/signup">Don't have an account? Sign up.</a></p>
                    </form>
                    <button class="js-login-close modal-close"></button>
                </div>
            </div>
        </div>

        <!-- Content load point -->
        {{{ yield }}}

        <!-- Scripts -->
        <script src="/bower_components/H5F/h5f.min.js"></script>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/js/transition.js"></script>
        <script src="/bower_components/zoom.js/dist/zoom.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/bootstrap-validator/dist/validator.min.js"></script>
        <script src="/js/bundles/common.js"></script>
        <script src="/js/bundles/NavBar.js"></script>

        <!-- Script load point -->
        {{{ yield-scripts }}}

         <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-67231951-1', 'auto');
          ga('send', 'pageview');
        </script>

        <!-- Facebook SDK -->
        <div id="fb-root"></div>
        <script type="text/javascript">
            window.fbAsyncInit = function() {
                FB.init({
                    appId   : '1653168968231541',
                    xfbml   : true,
                    version : 'v2.4'
                });
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

    </body>
</html>
