<!DOCTYPE html>
<html lang="en" style="background: url(/images/backgrounds/{{background}}) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">

    <head>
        

        <!-- Basics -->
        <title>Cruel</title>
        <meta charset="UTF-8">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <!-- Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed:400,700" rel="stylesheet" type="text/css">
       

        <!-- Mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
       

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">

        <!-- Dropdown Scripts -->
       
    

    </head>

    <body>
        {{{ yield }}}

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/lodash/lodash.min.js"></script>
        <script>
        $(document).ready(function() {
            $('#mobile-drawer').click(function() {
                $('.dropdown-mobile').slideToggle("fast");
            });
        });
        </script>
         <script>
        $(document).ready(function() {
            $('.mobile-score').click(function() {
                $('.notification-box-mobile').slideToggle("fast");
            });
        });
        </script>
        <script>
        $(document).ready(function() {
            $('.nav-menu').click(function() {
                $('.nav-dropdown').slideToggle("fast");
            });
        });
        </script>
         <script>
        $(document).ready(function() {
            $('.nav-score').click(function() {
                $('.notification-box').slideToggle("fast");
            });
        });
        </script>

        {{{ yield-scripts }}}
    </body>

       
</html>
