<div class="js-app row">
    <div class="large-12 columns container">
        <div class="container-header">
            <!-- City Header -->
            <h2 class="js-location-name"></h2>
            <!-- Feed sort options -->
            <div class="sorting">
                <span class="sortlabel">SORT:</span>
                <select class="js-sort feed-dropdown">
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                    <option value="top">Top</option>
                </select>
                <!-- Leaderboard location options -->
                <select class="js-location feed-dropdown">
                    <option value="all">All</option>
                    {{#locations}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/locations}}
                </select>
            </div>
        </div>
        <!-- Loading Animation -->
        <div class="feed-loading">
            <img class="loading-animation" src="/images/loading.gif">
        </div>
        <div class="js-leaderboard"></div>
    </div>
</div>

<!-- Templates -->
<script id="leaderboard-user-template" type="text/template">
    <div class="leader-item">
        <span class="ranking"><%= rank %></span>
        <span class="leader-score"><%= score %></span>
        <a href="/user/<%= username %>">
            <div class="leader-thumbnail">
                <img src="<%= imageUrl %>">
            </div>
            <span class="leader-user"><%= username %></span></br>
        </a>
        <span class="leader-join-date">Joined <%= date %></span>
    </div>
</script>

<!-- Data Load Point -->
<script id="init-data" type="application/json">
    {{{initData}}}
</script>

<!-- Load page specific scripts -->
{{#yield-scripts}}
    <script src="/js/dataLoader.js"></script>
    <script src="/js/bundles/Leaderboard.js"></script>
{{/yield-scripts}}
