<div class="row">
    <div class="large-12 columns container">
        <div class="container-header">
            <h2>Login</h2>
        </div>
        <div class="forms">
            {{#message.length}}
                <div>{{message}}</div>
            {{/message.length}}
            <form id="form" data-toggle="validator" role="form" action="/login" method="post">
                <div class="form-group">
                    <h4>Email</h4>
                    <input type="email" name="email" id="email" placeholder="john@example.com"
                        data-error="Please enter a valid email address" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <h4>Password</h4>
                    <input type="password" name="password" id="password" required>
                    <div class="help-block with-errors"></div>
                </div>
                <input class="js-referer" type="hidden" name="referer" value="">
                <div class="form-group">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Data Load Point -->
<script id="init-data" type="application/json">
    {{{initData}}}
</script>

<!-- Load page specific scripts -->
{{#yield-scripts}}
    <script src="/bower_components/H5F/h5f.min.js"></script>
    <script src="/bower_components/bootstrap-validator/dist/validator.min.js"></script>
    <script src="/js/polyfill.js"></script>
    <script src="/js/dataLoader.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.js-referer').val(initData.referer);
        });
    </script>
{{/yield-scripts}}
