<div>
    {{#message.length}}
        <div>{{message}}</div>
    {{/message.length}}
    <form id="login-form" data-toggle="validator" role="form" action="/login" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="john@example.com"
                data-error="Please enter a valid email address" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>
</div>

<!-- Load page specific scripts -->
{{#yield-scripts}}
    <script src="/bower_components/H5F/h5f.min.js"></script>
    <script src="/bower_components/bootstrap-validator/dist/validator.min.js"></script>
    <script src="/js/login.js"></script>
{{/yield-scripts}}
