
<div class="cruelheader">
    <div class="row">
        <div class="large-12 columns">
            <a href="/">
                <img src="/images/headerlogo.png" class="logo">
            </a>
            
            <div class="nav">
                {{#user._id}}
                    <a href="/u/{{user.username}}">{{user.username}}</a>
                    <a href="/post">Make A Post</a>
                    <a href="/logout">Logout</a>
                {{/user._id}}
                {{^user._id}}
                    <a href="/login">Login</a>
                    <a href="/signup">Signup</a>
                {{/user._id}}
            </div>
        </div>
    </div>
</div>

<div class="js-post"></div>

<!-- Templates -->
<script id="post-detail-template" type="text/template">
<div class="row">
    <div class="large-12 columns container">
        <div class="container-header">
            
                <a href="/"><h2 class="navigation">Back to feed</h2></a>
            
        </div>    
    <div class="post">
        <div class="row">
            <div class="large-5 columns">
                <img src="<%= url %>">
            </div>  
            <div class="large-7 columns post-content">
                <h3><%= title %></h3>
                <span class="score"> <%= score %></span>
                <a href="/u/<%= _username %>"><span class="author"> <%= _username %></span></a>
                <span class="date"> <%= date %></span> 
                <p><%= description %></p>
            </div>
        </div>
    </div>
</div>

</script>

<!-- Data Load Point -->
<script id="init-data" type="application/json">
    {{{initData}}}
</script>

<!-- Load page specific scripts -->
{{#yield-scripts}}
    <script src="/js/dataLoader.js"></script>
    <script src="/js/post.js"></script>
{{/yield-scripts}}

