<div class="row js-post">
    <div class="large-12 columns container">
        <div class="container-header">
            <button class="navigation js-navigation">Back to feed</button>
        </div>
        <div class="js-post-body"></div>
        <div class="large-12 columns comments">
            <h4>COMMENTS</h4>
            {{#user._id}}
                <form id="js-form">
                    <div class="form-group comment-form">
                       <textarea class="js-comment-text" rows="3" name="description"
                       id="postDescription" placeholder="Write a comment"></textarea>
                    </div>
                    <div class="js-messages"></div>
                    <div class="form-group comment-form">
                        <button type="submit" class="js-form-submit comment-button button">Post</button>
                    </div>
                </form>
            {{/user._id}}
            <div class="post-sorting">
                <div class="sorting post-sorting-margin">
                    <span class="sortlabel">SORT:</span>
                    <select class="js-sort feed-dropdown">
                        <option value="new">New</option>
                        <option value="top">Top</option>
                    </select>
                </div>
            </div>
            <div class="js-comments comments-feed">
            </div>
        </div>
    </div>
</div>

<!-- Templates -->
<script id="post-detail-template" type="text/template">
    <div class="post">
        <div class="row">
            <div class="large-5 columns">
                <img src="<%= url %>" data-action="zoom">
                <button type="button"
                    class="<% if(liked) { %>js-like post-liked<% } else { %>js-like post-like<% }%>"
                    name="<%= _id %>"></button>
                <button type="button"
                    class="<% if(liked) { %>js-like post-liked-mobile<% } else { %>js-like post-like-mobile<% }%>"
                    name="<%= _id %>"></button>

            </div>
            <div class="post-content">
                <h3><%= title %></h3>
                <span class="score"> <%= score %></span>
                <a href="/user/<%= _username %>"><span class="author"> <%= _username %></span></a>
                <span class="date"> <%= date %></span>
                <p><%= description %></p>
            </div>
        </div>
    </div>
</script>

<script id="post-comment-template" type="text/template">
    <div class="comment">
        <button type="button" name="<%= _id %>"
            class="<% if(liked) { %>js-comment-like bolt-liked<% } else { %>js-comment-like bolt<% }%>"></button>
        <span class="comment-score"><%= score %></span>
        <a href="/user/<%= _username %>"><span class="author"><%= _username %></span></a>
        <span class="date"> <%= date %></span>
        <p><%= comment %></p>
    </div>
</script>

<script id="comment-timeout-template" type="text/template">
    <p>Please wait a bit before commenting again</p>
</script>

<script id="comment-empty-template" type="text/template">
    <p>A comment cannot be empty</p>
</script>

<!-- Data Load Point -->
<script id="init-data" type="application/json">
    {{{initData}}}
</script>

<!-- Load page specific scripts -->
{{#yield-scripts}}
    <script src="/js/dataLoader.js"></script>
    <script src="/js/bundles/post.js"></script>
{{/yield-scripts}}
