<div class="row">
    <div class="large-12 columns container">
        <div class="container-header">
            <h2>Reset Password</h2>
        </div>
        <div class="forms">
            <div class="form-wrapper">
                <div class="js-reset">
                    {{#resetError}}
                        <div class="form-message-error">{{resetError}}</div>
                    {{/resetError}}
                    {{#resetSuccess}}
                        <div class="form-message-error">{{resetSuccess}}</div>
                    {{/resetSuccess}}
                    <form data-toggle="validator" role="form" method="post">
                        <div class="form-group password">
                            <h4>Password</h4>
                            <input type="password" name="password" id="password" minlength="6"
                                maxlength="30" data-error="Password must be between 6 and 30 characters" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button class="button signup-button" type="submit">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
