<div class="row">
    <div class="large-12 columns container">
        <div class="container-header">
            <h2>Create an Account</h2>
        </div>
        <div class="forms">
            {{#message.length}}
                <div>{{message}}</div>
            {{/message.length}}
            <form id="form" data-toggle="validator" role="form" action="/signup" method="post">
                <div class="form-group">
                    <h4>Username</h4>
                    <input type="text" name="username" id="username" placeholder="Username" minlength="8"
                        data-error="Username must be at least 8 characters long" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <h4>Email</h4>
                    <input type="email" name="email" id="email" placeholder="john@example.com"
                        data-error="Please enter a valid email address" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <h4>Campus</h4>
                    <select id="location" name="location">
                        {{#locations}}
                            <option value="{{_id}},{{name}}">{{name}}</option>
                        {{/locations}}
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <h4>Password</h4>
                    <input type="password" name="password" id="password" minlength="10"
                        data-error="Password must be at least 10 characters long" required>
                    <div class="help-block with-errors"></div>
                </div>
                <input class="js-referer" type="hidden" name="referer" value="">
                <div class="form-group">
                    <button class="button" type="submit">Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Data Load Point -->
<script id="init-data" type="application/json">
    {{{initData}}}
</script>

<!-- Load page specific scripts -->
{{#yield-scripts}}
    <script src="/bower_components/H5F/h5f.min.js"></script>
    <script src="/bower_components/bootstrap-validator/dist/validator.min.js"></script>
    <script src="/js/polyfill.js"></script>
    <script src="/js/dataLoader.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.js-referer').val(initData.referer);
        });
    </script>
{{/yield-scripts}}
