<div class="js-user">
    <div class="row">
        <div class="large-12 columns container">
            <div class="user-header">
                <!-- User Header -->
                <h2 class="js-username"></h2>
            </div>
            <div class="large-5 columns user-image">
                <img src="/images/placeholder.png">
            </div>
            <div class="large-7 columns user-content">
                <span class="user-score"> 356</span>
                <span class="ranking"> Rank #1 at Western</span>
                <span class="join-date"> Joined 1 month ago</span>
                <p>Sample tagline description with links and embeds. Sample tagline description with links and embeds.</p>
                <p>Sample tagline description with links and embeds. Sample tagline description with links and embeds.</p>
                <p>Sample tagline description with links and embeds. Sample tagline description with links and embeds.</p>
            </div>
             <div class="user-feed-header">
                <h2>All Posts</h2>
                <div class="sorting user-sort">
                    <span class="sortlabel">Browse by:</span>
                    <select class="js-sort">
                        <option value="new">New</option>
                        <option value="top">Top</option>
                    </select>
                </div>
            </div>
            <div class="js-feed"></div>
        </div>
    </div> 
</div>

{{> feedPostTemplate}}
{{> feedScripts}}

<!-- Data Load Point -->
<script id="init-data" type="application/json">
    {{{initData}}}
</script>

<!-- Load page specific scripts -->
{{#yield-scripts}}
    <script src="/js/dataLoader.js"></script>
    <script src="/js/bundles/user.js"></script>
{{/yield-scripts}}
