<div class="row">
    <div class="large-12 columns container">
        <div class="user-edit-header">
            <!-- User Header -->
            <h2 class="js-username"></h2>
        </div>
        <div class="forms">
            <form class="js-compose" id="form" data-toggle="validator"
                role="form" action="/post" method="post">
                <div class="form-group">
                    <h4>PROFILE IMAGE URL</h4>
                    <input type="url" pattern=".*\.(jpeg|jpg|gif|png|JPEG|JPG|GIF|PNG)$"
                        class="js-image" name="url" placeholder="http://www.example.com/image.jpeg"
                        data-error="Please enter a valid URL for a JPEG, GIF, or PNG image">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <h4>PROFILE DESCRIPTION</h4>
                    <textarea rows="5" name="description" id="postDescription"
                        form="form" placeholder="Enter a description"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>