<div class="row">
    <div class="large-12 columns container">
        <div class="container-header">
            <h2>USER AGREEMENT</h2>
        </div>
            <div class="post">
                <div class="welcome-post">
                    <div class="post-description welcome-description">
                        <p>This agreement ("user agreement" or "agreement") between Cruel Inc. ("we", "our," "us") and you,  sets the terms of your use of the the web application located at Cruel.co ("Cruel.co").</p> 
                        <p>This agreement is a legal contract between you and us. You acknowledge that you have read, understood, and agree to be bound by the terms of this agreement. If you do not agree to this agreement, you should not use Cruel.co.</p>
                        <h3>Your Account</h3>
                        <p>To post, vote, or comment on content on Cruel.co, you must create an account that includes a username, password, and email address.</p>
                        <p>You are solely responsible for the information associated with Your Account and anything that happens related to Your Account.</p>
                        <p>You may not license, transfer, sell, or assign Your Account without our written approval.</p>
                        <p>Without advance notice and at any time, we may, for violations of this agreement or for any other reason we choose: (1) suspend your access to Cruel.co, (2) suspend or terminate Your Account, and/or (3) remove any of your User Content from Cruel.co.</p>
                        <p>We reserve the right to monitor Cruel.co, and your use of Cruel.co means you agree to such monitoring. However, this does not guarantee we will monitor your use of Cruel.co.</p>
                        <h3>Cruel.co is intended for personal, lawful use, for the purpose of entertainment only</h3>
                        <p>Cruel.co is designed and supported for personal use only. You may not use Cruel.co to break the law, violate an individual's privacy, or infringe any person or entity’s intellectual property or any other proprietary rights.</p>
                        <p>Cruel.co is intended for entertainment purposes only. We are not responsible for any actions you make based on content found on Cruel.co.</p> 
                        <p>You may not use Cruel.co to conduct transactions for goods or services, legal or illegal.</p>
                        <h3>Our Content</h3>
                        <p>Cruel.co contains graphics, text, photographs, images, video, audio, software, code, website compilation, website "look and feel," and advertisements supplied by us or our licensors, which we call "Cruel.co content." Cruel.co content is protected by intellectual property laws including copyright and other proprietary rights of Canada and foreign countries.</p>
                        <p>We grant you the right to access the Cruel.co content in the manner described in this agreement. You may not otherwise make unauthorized commercial use of, reproduce, prepare derivative works, distribute copies, perform, or publicly display Cruel.co content, except as permitted by the doctrine of fair use or as authorized in writing by us.</p> 
                        <h3>Your Content</h3>
                        <p>You retain the rights to your copyrighted content or information that you submit to Cruel.co ("user content") except as described below.</p>
                        <p>By submitting user content to Cruel.co, you grant us a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to reproduce, prepare derivative works, distribute copies, perform, or publicly display your user content in any medium and for any purpose, including commercial purposes, and to authorize others to do so.</p>
                        <p>You agree that you have the right to submit anything you post, and that your user content does not violate the copyright, trademark, trade secret or any other personal or proprietary right of any other party.</p>
                        <p>We take no responsibility for, we do not expressly or implicitly endorse, and we do not assume any liability for any user content submitted by you to Cruel.co.</p>
                        <h3>Prohibited content</h3>
                        <p>We reserve the right to remove content and suspend or remove accounts that include any of the following:</p>
                        <p>
                            <ul class="user-agreement-list">
                                <li>Illegal content</li>
                                <li>Nudity</li>
                                <li>Threats, encouragement, or incitement of violence</li>
                                <li>Hate speech</li>
                                <li>Impersonation</li>
                                <li>Spam</li>
                            </ul>
                        </p>
                        <h3>Prohibited Behaviour</h3>
                        <p>We reserve the right to suspend or remove accounts that participate in any of the following behaviours:</p>
                        <p>
                            <ul class="user-agreement-list">
                                <li>Engaging in vote manipulation</li>
                                <li>Posting Spam</li>
                                <li>Behaviour that interferes with the normal use of Cruel.co</li>
                                <li>Creating multiple accounts to evade punishment or avoid restrictions</li>
                            </ul>
                        </p>
                        <h3>Links</h3>
                        <p>As a user of Cruel.co, you are able to post hyperlinks to other online content. We are not responsible for the content or actions of any third party websites or services associated with posted links. You agree to take sole legal responsibility for any links you post, and neither this agreement nor our privacy policy applies to any content on other websites related to those links. You should consult the terms and privacy policies of those other websites to understand your rights.</p>
                        <h3>Indemnity</h3>
                        <p>All the things you do and all the information you submit or post to Cruel.co remain your responsibility. You agree to hold Cruel.co, its affiliates, officers, directors, employees, agents, and third party service providers harmless from and defend them against any claims, costs, damages, losses, expenses, and any other liabilities, including attorneys’ fees and costs, arising out of or related to your access to or use of Cruel.co, your violation of this user agreement, and/or your violation of the rights of any third party or person.</p>
                        <h3>Disclaimer of Warranties</h3>
                        <p>Cruel.co is provided "as is" and without warranty of any kind. To the maximum extent permitted by law, we and our affiliates and third party service providers disclaim any and all warranties, express or implied, including (but not limited to) implied warranties of merchantability, fitness for a particular purpose, and non-infringement of proprietary rights, or any other warranty, condition, guarantee or representation, whether oral or electronic. You are solely responsible for any damage to your computer or mobile device, loss of use, or loss of your user content. We do not guarantee that Cruel.co will always work properly.</p>
                        <h3>Limitation of Liability</h3>
                        <p>We will not be liable for any special, consequential, indirect, incidental, punitive, reliance, or exemplary damages, whether in tort, contract, or any other legal theory, arising out of or in any way connected with this agreement or your use of or attempt to use Cruel.co, including (but not limited to) damages for loss of profits, goodwill, use, or data. This limitation on liability shall not be affected even if we have been advised of the possibility of such damages. Some states do not allow for the exclusion of implied warranties or the limitation or exclusion of liability for incidental or consequential damages, so the above exclusions may not apply to you.</p>
                        <p>You agree to release us, our affiliates, and third-party service providers, and each associated director, employee, agents, and officers, from claims, demands and damages (actual and consequential), of every kind and nature, known and unknown, disclosed or undisclosed, arising out of or in any way connected to your use of Cruel.co.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Data Load Point -->
<script id="init-data" type="application/json">
    {{{initData}}}
</script>

<!-- Load Page Specific Scripts -->
{{#yield-scripts}}
    <script src="/js/dataLoader.js"></script>
{{/yield-scripts}}
