<div class="js-user">
    <select class="js-sort">
        <option value="new">New</option>
        <option value="top">Top</option>
    </select>
    <div class="js-feed"></div>
</div>

<!-- Templates -->
<script id="post-template" type="text/template">
    <div class="js-post">
        <a href="/post/<%= _id %>">
            <img src="<%= url %>"/>
        </a>
        <button type="button" class="js-like" name="<%= _id %>">Vote</button>
        <a href="/post/<%= _id %>"><strong><%= title %></strong></a>
        <p class"date2">Score: <%= score %>, <%= date %>, By: <%= _username %></p>
    </div>
</script>

<script id="loading-template" type="text/template">
    <img src="/images/dashinfinity.gif">
</script>

<script id="warning-template" type="text/template">
    <p>Something went wrong while loading more posts</p>
</script>

<script id="completed-template" type="text/template">
    <p>There are no more posts to load.</p>
</script>

<!-- Data Load Point -->
<script id="init-data" type="application/json">
    {{{initData}}}
</script>

<!-- Load page specific scripts -->
{{#yield-scripts}}
    <script src="/js/dataLoader.js"></script>
    <script src="/js/bundles/user.js"></script>
{{/yield-scripts}}