<div class="row js-post">
    <div class="large-12 columns container">
        <div class="container-header">
            <a href="{{redirect}}" class="navigation">Back</a>
        </div>

        <div class="welcome-post-body">
            <div class="post">
                <div class="row">
                   <div class="post-content-full-width">
                        <button class="button js-share facebook-button"></button>
                        <h3>Welcome to Cruel</h3>
                        <span class="author"> Cruel</span>
                        <div class="post-description">
                            <h3 class="welcome-header">Win your campus</h3>
                            <p>Welcome to Cruel! Cruel.co is a web app that lets you create a profile and share content with your campus. When you make a post or a comment, other users can like it, adding to the post's "Buzz" score. As posts gain Buzz, they become more visibile on the feed.</p>
                            <h3 class="welcome-header">Buzz</h3>
                            <p><img class="welcome-buzz" src="/images/welcome-buzz.png">Clicking this button on a post or a comment adds Buzz. Every time someone likes one of your posts or comments, you gain Buzz as well, climbing a ladder of the top accounts on your campus. Active users get prizes, ranging from free entry to events and shows, to exclusive experiences and giveaways. Each week, we announce winners and update the prize list in a post stickied to the top of your feed.</p>
                            <h3 class="welcome-header">The Ladder</h3>
                            <p>The Ladder ranks the top users of the week, month, and all time for each campus. At the end of every week, we give away prizes to the users who gained the most Buzz that week. and at the end of every month, we give away a bigger prize. Weekly Buzz score resets at 11:59PM each Sunday, and monthly Buzz score resets at 11:59pm on the last day of the month. Check the stickied post at the top of your campus feed to see the prizes up for grabs each week.</p>
                            <h3 class="welcome-header">The Rules</h3>
                            <p>Posts or comments containing nudity or offensive content will be removed, and Buzz accumulated on those posts will be removed from your total score. Repeat offenders will be banned. For our full set of rules, check out the User License Agreement.</p>
                            <p>In order to be eligible to win prizes, you must be a student at the campus associated with your account. Any evidence of spamming or cheating on an account will result in the account(s) being banned.</p>
                            <h3 class="welcome-header">Let's Get Started!</h3> 
                            <button class="js-login modal-button button">Log in</button><a href="/signup" class="modal-button button">Sign up</a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 
