<div class="row js-welcome-page">
    <div class="large-12 columns container">
        <div class="container-header"></div>
        <div class="post">
            <div class="welcome-post">
                <div class="welcome-banner-container">
                    <img class="welcome-banner" src="/images/welcome2.jpg">
                    <div class="fb-like welcome-facebook-like" data-href="https://www.facebook.com/CruelCo" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                </div>
                <div class="welcome-banner-container-mobile">
                    <img class="welcome-banner" src="/images/welcome-mobile2.jpg">
                    <div class="fb-like welcome-facebook-like" data-href="https://www.facebook.com/CruelCo" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                </div>
                <button class="button js-share facebook-button"></button>
                <div class="post-description welcome-description">
                    <h3 class="welcome-header">Win your campus</h3>
                    <p>Welcome to Cruel! Cruel.co is a web app that lets you create a profile and share content with your campus. When you make a post or a comment, other users can like it, adding to the post's "Buzz" score. As posts gain Buzz, they become more visibile on the feed.</p>
                    <img class="welcome-buzz-gif" src="/images/buzz3.gif">
                    <h3 class="welcome-header welcome-buzz">Buzz</h3>
                    <p class="welcome-buzz-p">Clicking this button on a post or a comment adds Buzz. Every time someone likes one of your posts or comments, you gain Buzz as well, climbing a ladder of the top accounts on your campus. Active users get prizes, ranging from free entry to events and shows, to exclusive experiences and giveaways. Each week, we announce winners and update the prize list in a post at the top of your feed.</p>
                    <h3 class="welcome-header">The Ladder</h3>
                    <div class="welcome-leader">
                        <div class="leader-item welcome-leader-item">
                            <span class="ranking">1</span>
                            <span class="leader-score">465</span>
                            <div class="leader-thumbnail">
                                <img src="/images/western.jpg">
                            </div>
                            <span class="leader-user">WesternisBestern</span></br>
                            <span class="leader-join-date">Joined 2 weeks ago</span>
                        </div>
                        <div class="leader-item welcome-leader-item">
                            <span class="ranking">2</span>
                            <span class="leader-score">377</span>
                            <div class="leader-thumbnail">
                                <img src="/images/baracka.jpg">
                            </div>
                            <span class="leader-user">Baracka_Flocka_Flame</span></br>
                            <span class="leader-join-date">Joined 5 days ago</span>
                        </div>
                        <div class="leader-item welcome-leader-item">
                            <span class="ranking">3</span>
                            <span class="leader-score">298</span>
                            <div class="leader-thumbnail">
                                <img src="/images/litmus.jpg">
                            </div>
                            <span class="leader-user">WitnesstheLitmus</span></br>
                            <span class="leader-join-date">Joined a week ago</span>
                        </div>
                    </div>
                    <p class="welcome-ladder-p">The <a class="welcome-a" href="/leaderboard" target="_blank">Ladder</a> ranks the top users of the week, month, and all time for each campus. At the end of every week, we give away prizes to the users who gained the most Buzz that week, and at the end of every month, we give away a bigger prize. Weekly Buzz score resets at 11:59PM each Sunday, and monthly Buzz score resets at 11:59pm on the last day of the month. Check the stickied post at the top of your campus feed to see the prizes up for grabs each week.</p>
                    <h3 class="welcome-header">The Rules</h3>
                    <p class="welcome-ladder-p">Posts or comments containing nudity or offensive content will be removed, and Buzz accumulated on those posts will be removed from your total score. Repeat offenders will be banned. In order to be eligible to win prizes, you must be a student at the campus associated with your account. Any evidence of spamming or cheating on an account will result in the account(s) being banned. For our full set of rules, check out the <a class="welcome-a" href="/user-agreement" target="_blank">User Agreement.</a></p>
                    <h3 class="welcome-header">Let's Get Started!</h3> 
                    {{^user._id}}
                        <button class="js-welcome-login welcome-button button">Log in</button>
                        <a href="/signup" class="button welcome-button">Sign up</a>
                    {{/user._id}}
                    {{#user._id}}
                        <a href="/post" class="button welcome-button">Make a post</a>
                        <a href="/" class="button welcome-button">Go To your Feed</a>
                    {{/user._id}}

                </div>
            </div>
        </div>
    </div>
</div>

{{#yield-scripts}}
    <script src="/js/bundles/Welcome.js"></script>
{{/yield-scripts}}
