/* Styles */

-webkit-transition: all 1s;

/* Posts */
.posts {
    width: 600px;
}

.post {
    padding: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
}

.post-title {
    font-size: 20px;
    padding-bottom: 20px;
}

.post-image {
    height: 400px;
    width: auto;
}

.loading {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Joe's Fuccboi Styles */
p .date2 {
    font-size:10px;`
}