/* App Styling */

/**Remove Background images from mobile**/

@media only screen and (max-width:768px) {

  html {
    background:none !important;
    background-color:#f6f5f2;
  }
}


/**Fonts**/

@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/BebasNeue.eot');
  src: local('BebasNeue'), url('/fonts/BebasNeue.woff') format('woff'), url('/fonts/BebasNeue.ttf') format('truetype');
}


/**Menubar**/

.cruelheader {
    width:100%;
    height:42px;
    position:fixed;
    top:0px;
    z-index:1;
    background: -webkit-linear-gradient(rgba(40,40,40,1), rgba(45,45,45,1), rgba(40,40,40,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(40,40,40,1), rgba(45,45,45,1), rgba(40,40,40,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(40,40,40,1), rgba(45,45,45,1), rgba(40,40,40,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(40,40,40,1), rgba(45,45,45,1), rgba(40,40,40,1)); /* Standard syntax */
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.49);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.49);
    border-bottom: 1px solid #212121;

}

.logo {
    float:left;
    margin-left:-15px;
    margin-top:8px;
    width:100px;
    height:auto;
}

.nav {
    float:right;
    margin-top:8px;
    margin-right:-14px;
    padding-right:30px;
}


.nav a {
  text-decoration: none;
  font-family: 'BebasNeue', sans-serif;
  text-transform:uppercase;
  color: #6e6e6e;
  padding-right:18px;
  margin-right:-5px;
  font-size: 18px;
  letter-spacing:0.0;
  float:left;
}



.nav a:hover {
  color:#fff;
}

.nav-score:before {
  content: url('/images/boltcountmobile2.png');
}

/**Nav Dropdown**/

.menu-button {
  position:absolute;
  width:25px;
  height:26px;
  right:0;
  top:8px;
  cursor:pointer;
}

.menu-button:focus {
  outline:none;
}


.dropdown {
  display:none;
  position:absolute;
  right:0;
  top:42px;
  background-color: #f2f2f2;
  width:175px
}

.dropdown a {
  text-decoration:none;
  color: #bababa;
  float:none;
  padding: 0 5px 0 0;
}
.dropdown ul {
  list-style:none;
  padding-left:12px;
  padding-right:12px;
  margin-top:4px;
  width:100%;
  text-align:center;
  margin-bottom:4px;
  
}
.dropdown ul li {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size:13px;
  letter-spacing:0;
  width:100%;
  display:inline-block;
  *display:inline; /*IE7*/
  *zoom:1; /*IE7*/
  padding-bottom:6px;
  padding-top:7px;
  border-top: 1px solid #e8e8e8;
}

.dropdown ul li a {
  padding-left:0;
}

.dropdown ul li a:hover {
  color:#2d2d2d;
}

.dropdown li:first-child {
  border-top:none;
}

/**Notification Dropdown**/

.notification-box {
  display:none;
  position:absolute;
  width:360px;
  height:auto;
  top:42px;
  right:0px;
  background-color:#f2f2f2;
  padding-left:10px;
  padding-right:10px;
  max-height:250px;
  overflow:auto;
}


.notifications-list {
  list-style:none;
  padding:0;
  margin-bottom:0;
  margin-top:0;
}

.notification-score-count {
  font-family:'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size:22px;
  letter-spacing:0.03em;
  color:#bababa;;
  position:relative;
  float:left;
  margin-top:-3px;
  margin-right:20px;
  cursor:pointer;
}

.notification-score-count:focus {
  outline:none;
}


.notification-score-count:before {
  display:inline-block;
  width:23px;
  height:28px;
  content:"";
  margin-bottom:-7px;
  margin-left:-20px;
  margin-right:-2px;
  background: url(/images/notification-bolt.png) no-repeat 0 0;
  background-size: 100%;
  
}

 .notification-box-score-count {
  font-family:'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size:20px;
  letter-spacing:0.03em;
  margin-left:20px;
  color:#bababa;;
  top:0px;
  float:left;

}
  
.notification-box-score-count:before {
  display:inline-block;
  width:23px;
  height:28px;
  content:"";
  margin-bottom:-7px;
  margin-left:-24px;
  margin-right:-2px;
  background: url(/images/notification-bolt.png) no-repeat 0 0;
  background-size: 100%;
}


.notification-box-comment {
  font-family:'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size:20px;
  letter-spacing:0.03em;
  margin-left:20px;
  color:#bababa;;
  top:3px;
  float:left;
}

.notification-box-comment:before {
  display:inline-block;
  width:20px;
  height:24px;
  content:"";
  margin-bottom:-3px;
  margin-left:-24px;
  margin-right:2px;
  background: url(/images/comment-notification.png) no-repeat 0 0;
  background-size: 100%;
  
}

.notification-box-comment-like {
  font-family:'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size:20px;
  letter-spacing:0.03em;
  margin-left:20px;
  color:#bababa;;
  top:3px;
  float:left;
}

.notification-box-comment-like:before {
  display:inline-block;
  width:20px;
  height:24px;
  content:"";
  margin-bottom:-3px;
  margin-left:-24px;
  margin-right:2px;
  background: url(/images/comment-like-notification.png) no-repeat 0 0;
  background-size: 100%;
  
}

.notification-box-empty {
  font-family:'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size:20px;
  letter-spacing:0.03em;
  margin-left:20px;
  color:#bababa;;
  top:0px;
  float:left;
  

}

.notification-box-empty:before {
  display:inline-block;
  width:23px;
  height:28px;
  content:"";
  margin-bottom:-7px;
  margin-left:-24px;
  margin-right:-2px;
  background: url(/images/notification-bolt-empty.png) no-repeat 0 0;
  background-size: 100%;
}

.notification-title {
  text-decoration:none;
  color:#bababa;
  padding-left:7px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size:13px;
  padding-top:5px;
  float:left;


}

.notification a {
  font-size:13px;
  text-decoration:none;
  color:#bababa;
  padding-left:7px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  padding-right:0;
  margin-right:0;
  text-transform:none;

}


.notification-box ul li{
  border-top: 1px solid #e8e8e8;
}

.notification-box ul li:first-child {
  border-top:none;
}

.notification {
  height:40px;
  padding-top:5px;
  padding-bottom:8px;

}

/**Menubar Media Queries**/

@media only screen and (max-width:768px) {
  .cruelheader {
    height:30px;
  }
  .logo {
    margin-top:6px;
    width:70px;
    margin-left:-3px;
  }
  .nav {
    display:none;
  }
}

/**Mobile Menubar**/

.mobile-nav-bottom {
  display:none;
}

.mobile-icons {
  display:none;
}

@media only screen and (max-width:768px) {
  

  .mobile-nav-bottom {
    display:block;
    height:45px;
    width:100%;
    position:fixed;
    bottom:0px;
    left:0px;
    z-index:1;
    background-color:#f2f2f2;
    border-top: 1px solid #e8e8e8;
  }

  .mobile-icons {
    display:block;
    position:absolute;
    width:320px;
    left:50%;
    margin-left:-160px;
  }
  
  .mobile-icons a {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size:11px;
    bottom:-23px;
    letter-spacing:0;
    color:#b0b0b0;
    text-decoration: none;
    position:relative;
  }

  .mobile-score {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size:11px;
    bottom:-20px;
    left:12px;
    letter-spacing:0;
    color:#bababa;
    text-decoration: none;
    position:absolute;
    cursor:pointer;
  }

  .mobile-score:focus {
    outline:none;
  }


  
  .mobile-score-count {
    position:absolute;
    top:-23px;
    left:12px;
    font-family:'BebasNeue', sans-serif;
    text-transform:uppercase;
    font-size:22px;
    cursor:pointer;
  }

  .mobile-score-count:before {
    content: url('/images/mobile-bolt-icon2.png');
    margin-left:-18px;
  }


  .mobile-messages {
    width:auto;
    left:65px;
  }

  .message-icon {
    width:24px;
    height:auto;
    position:absolute;
    top:-25px;
    left:3px;
    margin-left:12px;
  }

  .mobile-post {
    width:auto;
    left:94px;
  }

  .post-icon {
    width:25px;
    height:auto;
    position:absolute;
    top:-26px;
    left:0px;
  }

  .mobile-profile {
    width:auto;
    left:135px;
   }

  .profile-icon {
    width:25px;
    height:auto;
    position:absolute;
    top:-26px;
    left:3px;
  }

  .menu-button-mobile {
    width:auto;
    position:absolute;
    right:15px;
    bottom:-20px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size:11px;
    letter-spacing:0;
    color:#bababa;
    text-decoration: none;
    cursor:pointer;
  }

  .menu-button-mobile:focus{
    outline:none;
  }
  
  .menu-icon {
    width:24px;
    height:auto;
    position:absolute;
    top:-24px;
    left:1px;
    cursor:pointer;
  }
  .dropdown-mobile {
    display:none;
    position:absolute;
    width:190px;
    height:auto;
    bottom:45px;
    right:0px;
    background-color:#f2f2f2;
  }
  .dropdown-mobile a {
    text-decoration:none;
    color: #bababa;
  }
  .dropdown-mobile ul {
    list-style:none;
    padding-left:12px;
    padding-right:12px;
    margin-top:4px;
    width:100%;
    text-align:center;
    margin-bottom:0;
  }
  .dropdown-mobile ul li {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size:13px;
    letter-spacing:0;
    width:100%;
    display:inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
    padding-bottom:8px;
    padding-top:6px;
    border-top: 1px solid #e8e8e8;
  }

  .dropdown-mobile li:first-child {
    border-top:none;
  }

  .notification-box-mobile {
    display:none;
    position:absolute;
    width:100%;
    height:auto;
    bottom:45px;
    left:0px;
    background-color:#f2f2f2;
    padding-left:10px;
    padding-right:10px;
    max-height:250px;
    overflow:auto;
  }

 
  .notifications-list {
    list-style:none;
    padding:0;
    margin-bottom:0;
    margin-top:0;
  }


  .notification-title {
    text-decoration:none;
    color:#bababa;
    padding-left:7px;
    margin-left:0px;

  }

  .notification-mobile a {
    font-size:14px;
    margin-left:20px;

  }
 

  .notification-box-mobile ul li{
    border-top: 1px solid #e8e8e8;
  }

  .notification-box-mobile ul li:first-child {
    border-top:none;
  }

  .notification-mobile {
    height:auto;
    padding-top:5px;
    padding-bottom:8px;

  }

}


/**Container Styles**/


.container {

    border-radius: 7px;
    border: 1px solid #e8e8e8; 
    height:auto;
    background-color: #f8f8f6;
    margin-bottom:50px;
    margin-top:70px;
    position:relative;
}

.container-header {
    
    margin-left:30px;
    margin-right:30px;
    height:55px;
}

h2 {
    float:left;
    font-family: 'BebasNeue', sans-serif;
    text-transform:uppercase;
    font-size: 26px;
    color: #a6a6a6;
    padding-top:10px;
    letter-spacing: 0.03em;
    margin:0;
}

.navigation {
    font-family: 'BebasNeue', sans-serif;
    float:left;
    padding-top:10px;
    text-transform:uppercase;
    font-size: 26px;
    color: #a6a6a6;
    letter-spacing: 0.03em;
    padding-left:0;
    cursor:pointer;
    text-decoration:none;
  }

.navigation:focus {
  outline:none;
}

.navigation:before {
    content: url(/images/backarrow.png);
    padding-right:6px;
    margin-bottom:2px;
}

.sorting {
  float:right;
  margin-top:15px;
  width:auto;
  margin-right: -1px;
  position:relative;
  
}

.sorting select:focus {
  outline: none;
}


.sortlabel {
    font-family: 'BebasNeue', sans-serif;
    text-transform:uppercase;
    font-size: 16px;
    letter-spacing:0px;
    color: #a6a6a6;
    position:absolute;
    left:-36px;
    top:2px;


   
}



.feed-dropdown {
  height:24px;
  border: 1px solid #dcdcdc;
  padding-left:3px;
  border-radius: 3px;
  color:#9c9c9c;
  margin-top:-5px;
}

.feed-dropdown option {
  background-color:#fff;
  color:#9c9c9c;

}

/**Container Media Queries**/

@media only screen and (max-width:768px) {
  .container {
    border-radius: 0px;
    border: none; 
    height:auto;
    background-color: #fff;
    margin-bottom:50px;
    margin-top:30px;
  }
    
  .container-header {
    margin-left:-5px;
    margin-right:8px;
    height:45px;
  }
    
  h2 {
    float:left;
    font-family: 'BebasNeue', sans-serif;
    text-transform:uppercase;
    font-size: 22px;
    color: #a6a6a6;
    padding-top:7px;
    padding-left:3px;
    letter-spacing: 0.03em;
    margin:0;
    margin-left:0px;
  }

  .navigation {
    font-size:18px;
  }

  .navigation:before {
    content: url(/images/backarrow.png);
    padding-right:6px;
    margin-bottom:2px;
  }

  .sorting {
    float:right;
    margin-top:10px;
    width:auto;
    margin-right: -12px;
  }

  .post-sorting-margin {
    margin-right:0px;
  }

  .sorting select:focus {
    outline: none;
  }

  .sortlabel {
    display:none;
  }
}

/**Feed Styles**/


h3 {
  font-family: 'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size: 22px;
  letter-spacing: 0.03em;
  color: #333333;
  line-height: 22px;
  margin-top:0px;
  margin-bottom: 0px;
}

.author {
  font-family: 'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size: 22px;
  letter-spacing:0.03em;
  color: #a6a6a6;
  padding-left:4px;
  padding-right:3px;
}

.author:before {
  content:'\00B7';
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  padding-right:4px;
  font-size:12px;
}

.date {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 13px;
  color:#a6a6a6;
}

.date:before {
  content:'\00B7';
  padding-right:4px;
  font-size:14px;
}


.feed-post {
  padding-top:15px;
  border-top: 1px solid #e8e8e8;
  padding-left:0;
  margin-left:45px;
  margin-right:45px;
  padding-bottom:7px;
  position:relative;
  height:auto;
  float:left;
  width:96%;
  width: -moz-calc(100% - 90px);
  width: -webkit-calc(100% - 90px);
  width: calc(100% - 90px);
}


.feed-post-header {
  position:relative;
  margin-left: -15px;
  padding-right:0;
  margin-bottom:1px;
}

.thumbnail {
  min-height:100px;
  max-height:150px;
  width: 100%;
}


.bolt {
  position:absolute;
  top:50%;
  margin-top:-16px;
  left:-25px;
  background-image: URL("/images/boltbutton.png");
  width:32px;
  height:32px;
  padding:0;
  border:none;
  cursor: pointer;
  background-color:#f8f8f6;
}

.bolt-liked {
  position:absolute;
  top:50%;
  margin-top:-16px;
  left:-25px;
  background-image: URL("/images/boltbuttonhover.png");
  width:32px;
  height:32px;
  padding:0;
  border:none;
  cursor: pointer;
  background-color:#f8f8f6;
}

.bolt-liked:focus {
  outline:none;
}

.bolt:focus {
  outline:none;
}

.bolt:hover {
  background-image: URL("/images/boltbuttonhover.png");
}


.score {
  font-family: 'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size: 22px;
  color: #a6a6a6;
  margin-right:-2px;
  margin-left:13px;
  line-height:24px;

}

.score:before {
  display:inline-block;
  width:23px;
  height:28px;
  content:"";
  margin-bottom:-7px;
  margin-left:-20px;
  margin-right:-5px;
  background: url(/images/notification-bolt.png) no-repeat 0 0;
  background-size: 100%;
  
}

.comment-count {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 13px;
  color:#a6a6a6;
}

.feed-post-content {
  margin-left:-25px;
  padding-left:5px;
}

.feed-post-content a {
  text-decoration: none;
}

.snippet {
  margin-top:-1px;
  margin-bottom:10px;
  font-size: 14px;
  color: #4f4f4f;
}

.snippet a {
  color:#a6a6a6;
  padding-left:6px;
  letter-spacing:0px;
}

.snippet a:hover{
  color:#333333;
}

.feed-end {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color:#4f4f4f;
  font-size: 14px;
  text-align: center;
  position:relative;
  width:200px;
  left:50%;
  margin-left:-130px;
  margin-top:30px;
  height:40px;
}
.post-malone {
  width:43px;
  height:auto;
  position:absolute;
  right:-27px;
  top:-17px;
}

/**Feed Media Queries**/

@media only screen and (max-width:768px) {
  
  h3 {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-transform:none;
    line-height: 20px;
    margin-top:-3px;
    margin-bottom: 0px;
    letter-spacing:0;
    color:#656565;
  }

  .date {
    font-size: 12px;
    padding-left:0px;

  }

  .date:before {
    font-size:12px;
  }


  .feed-post{
    padding-top:12px;
    border-top: 1px solid #e8e8e8;
    margin-left:13px;
    margin-right:13px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    position:relative;
    height:auto;
    line-height:14px;
  }

  .feed-post-header {
    position:relative;
    margin-left: 10px;
    padding-right:9px;
    margin-bottom:5px;
  }

  .thumbnail {
    width:100%;
    height: auto;
    min-height:65px;
    max-height:150px;
    margin-bottom:5px;
  }

  .author {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    text-transform:none;
    letter-spacing:0px;
    color: #a6a6a6;
    padding-left:0px;
    padding-right:0px;
    margin-right:-2px;
    display:inline;
  }

  .author:before {
    content:'\00B7';
    padding-right:5px;
    font-size:12px;
  }

  .author:after {
    content:"\a";
    white-space:pre;
  }

  .post .author:after {
    content:none;
  }

  .comment .author:after {
    content:none;
  }
  
  .bolt {
    position:absolute;
    top:50%;
    margin-top:-15px;
    left:-18px;
    background-image: URL("/images/boltbuttonmobile.png");
    width:30px;
    height:30px;
    padding:0;
    background-color:#fff;
  }

  .bolt-liked {
    position:absolute;
    top:50%;
    margin-top:-15px;
    left:-18px;
    background-image: URL("/images/boltbuttonmobilehover.png");
    width:30px;
    height:30px;
    background-color:#fff;
  }



  .bolt:hover {
    background-image: URL("/images/boltbuttonmobilehover.png");
  }

  .score {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    color: #a6a6a6;
    margin-right:0px;
    margin-left:0px;
    }

  .score:before {
    content: none;
    margin-top:10px;
  }

  .feed-post {
    width:96%;
    width: -moz-calc(100% - 26px);
    width: -webkit-calc(100% - 26px);
    width: calc(100% - 26px);
  }

  .feed-post-content {
    margin-left:-25px;
    padding-left:12px;
    margin-bottom:8px;
  }

  .feed-post-content a {
    text-decoration: none;
  }

  .snippet {
   display:none;
  }


}


/**Post Styles**/

.post {

    border-top: 1px solid #e8e8e8;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:10px;

}
.post img{
    
    padding-top:15px;
    padding-bottom:15px;
}

.post-content {
    float:left;
    width:390px;
    padding-left:5px;
    padding-top:15px;
    padding-right:0;
}

.post-content a {
  text-decoration:none;
}

.post p {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color:#4f4f4f;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0; 
    margin-top:10px;
}

.post-sorting {
  width:100%;
  height:40px;
  margin-top:-40px;

}

/**Post Media Queries**/

@media only screen and (max-width:768px) {
  .post {
    margin-left:0;
    margin-right:0;
  }
  .post-content {
    padding-left:16px;
    padding-right:16px;
    padding-top:0px;
    width:100%;
  }
  
  .post .score {
    font-family: 'BebasNeue', sans-serif;
    text-transform:uppercase;
    font-size: 20px;
    color: #a6a6a6;
  }

  

  .post h3 {
    font-family: 'BebasNeue', sans-serif;
    text-transform:uppercase;
    font-size: 20px;
    letter-spacing:0px;
    color: #333333;
    line-height: 24px;
    margin-top:-8px;
    margin-bottom: 0px;
  }

  .post .author {
      font-family: 'BebasNeue', sans-serif;
      text-transform:uppercase;
      font-size: 20px;
      letter-spacing:0px;
      color: #a6a6a6;
      padding-left:4px;
      padding-right:3px;
      
  }

  .post .date {
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 13px;
      color:#a6a6a6;
      }

  .post .date:before {
      content:'\00B7';
      padding-right:1px;
      font-size:14px;
       }


}

@media only screen and (min-width:1400px) {
  .post-content {
    width:58%;
    width: -moz-calc(58.33333% - 25px);
    width: -webkit-calc(58.33333% - 25px);
    width: calc(58.33333% - 25px);

  }
}

/**Post like button**/

.post-like {
  position:absolute;
  top:24px;
  left:24px;
  width:89px;
  height:26px;
  border:0;
  background:url(/images/post-like3.png) no-repeat top left;
  background-size: 89px 26px;
  cursor:pointer;
}

.post-like:hover {
  background:url(/images/post-like2.png) no-repeat top left;
  background-size: 89px 26px;
}

.post-like:focus {
  outline:none;

}

.post-liked {
  position:absolute;
  top:24px;
  left:24px;
  width:64px;
  height:26px;
  border:0;
  background:url(/images/post-liked2.png) no-repeat top left;
  background-size: 63px 26px;
  cursor:pointer;
}

.post-liked:focus {
  outline:none;
}

.post-like-mobile {
  display:none;
}

.post-liked-mobile {
  display:none;
}




/**Post Like Button Media Queries**/

@media only screen and (max-width:768px) {
  .post-like {
    display:none;
  }

   .post-liked {
    display:none;
  }

  .post-like-mobile {
    display:block;
    position:absolute;
    bottom:31px;
    left:24px;
    width:89px;
    height:26px;
    border:0;
    background:url(/images/post-like3.png) no-repeat top left;
    background-size: 89px 26px;
    cursor:pointer;
  }

  .post-like-mobile:hover {
    background:url(/images/post-like2.png) no-repeat top left;
    background-size: 89px 26px;
  }

  .post-like-mobile:focus {
    outline:none;

  }

  .post-liked-mobile {
    display:block;
    position:absolute;
    bottom:31px;
    left:24px;
    width:64px;
    height:26px;
    border:0;
    background:url(/images/post-liked2.png) no-repeat top left;
    background-size: 63px 26px;
  }

  .post-liked-mobile:focus {
    outline:none;
  }


}




/**Form Styles**/

h4 {
    font-family: 'BebasNeue', sans-serif;
    text-transform:uppercase;
    font-size: 22px;
    letter-spacing:0.03em;
    color:#333333;
    margin-left:1px;
    padding-right:3px;
    margin-bottom:8px;
    margin-top:10px;
  }

.postform {
    
    padding-top:15px;
    
    
}

.postform h1 {
    font-family:'BebasNeue', sans-serif;
    text-transform:uppercase;
    color:#4f4f4f;
    margin-left:1px;


}

.forms {
  border-top: 1px solid #e8e8e8;
  margin-left:30px;
  margin-right:30px;
  margin-bottom:30px;
}

.forms .button {
  margin-top:10px;
}

.forms h4 {
  margin-bottom:0;
}

.form-group select {
  height:30px;
  border: 1px solid #dcdcdc;
  padding-left:3px;
  border-radius: 3px;

}

.form-group select option {
  background-color:#fff;

}

#location {
  color:#9c9c9c;
  
}

.form-group select:focus {
  outline:none;
}

.form-group textarea {
  width:50%;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color:#4f4f4f;
  padding-left:5px;
  border: 1px solid #dcdcdc;
  border-radius:3px;
  font-size:12px;
  padding-top:5px;
  
  
}

.form-group textarea:focus {
  outline:none;
}

.form-group input {
  width:50%;
  height:28px;
  padding-left:5px;
  border: 1px solid #dcdcdc;
  border-radius:3px;
  margin-top:0px;
}

.form-group input:focus {
  outline:none;
}


.form-group h1 {
  padding-bottom:5px;
}

/**Forms Media Queries**/

@media only screen and (max-width:768px) {
  
  .forms {
    border-top: 1px solid #e8e8e8;
    margin-left:0;
    margin-right:0;
    margin-bottom:10px;
    height:100%;
    overflow-y:hidden;

  }
  .form-group textarea {
    width:100%;
  }

  .form-group input {
    width:100%;
    height:28px;
    padding-left:5px;
  }

  .postform h1 {
    margin-left:30px;
  }


}


/**Modal Popup Styles**/

.overlay {
  display: none;
  position: absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index:1000;
  background:rgba(0,0,0,0.75);
}

.modal {
  position:relative;
  width:300px;
  margin-top: 17%;
  margin-left:auto;
  margin-right:auto;
  background-color:#959595;
  padding:15px;
  text-align:center;
}

.modal p {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color:#dedede;
  font-size: 13px;
  font-weight: normal;
}

.modal a {
  text-decoration:none;
  display:inline-block;
  line-height:33px;
  padding:1px 8px 0px 8px;
  background-color:#55bef5;
  font-family: 'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size: 18px;
  color:#fff;
  border-radius:3px;
  margin-right:10px;
  margin-left:10px;
}

.modal a:hover {
  background-color:#fff;
  color:#55bef5;
  border:1px solid #55bef5;
  line-height:31px;
  padding: 1px 7px 0px 7px;

}

.modal h1 {
  font-family: 'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size: 18px;
  letter-spacing:0.03em;
  color:#f2f2f2;
}

.modal-close {
  position:absolute;
  width:15px;
  height:15px;
  top:7px;
  right:7px;
  cursor:pointer;
}

.overlay-login {
  display:none;
  position: absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index:1000;
  background:rgba(0,0,0,0.75);
}

.modal .form-group input {
  width:90%;
}

.list-unstyled  {
  padding-left:0;
  list-style:none;

}




/**Modal media queries **/

@media only screen and (max-width:768px) {

  .modal{
    margin-top:50%;
  }
}

/**Notification Counters**/

.notification-counter{
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; 
  font-size:11px;
  color:#fff;
  padding:0 3px 0 3px;
  background-color:#ff0000;
  position:absolute;
  top:0px;
  right:-11px;
  border-radius:5px;
  line-height:14px;
}

.notification-counter-mobile {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; 
  font-size:11px;
  color:#fff;
  padding:0 3px 0 3px;
  background-color:#ff0000;
  position:absolute;
  top:0px;
  left:5px;
  border-radius:5px;
  line-height:14px;
}

/**Comments**/

.comments {
  padding-left:29px;
  margin-top:-20px;
  margin-bottom:30px;
  padding-right:30px;
}

.comment-form {
  margin-bottom:0px;
}

.comments form {
  margin-bottom:25px;
}

.comments textarea {
  width: 100%;
}

.comments-feed {
  margin-top:8px;
}
.comment {
  position:relative;
  padding-top:5px;
  border-top: 1px solid #e8e8e8;
}

.comment .bolt {
  left:-38px;
  top:50%;
  margin-top:-15px;
}

.comment .bolt-liked {
  left:-38px;
  top:50%;
  margin-top:-15px;
}

.comment-score {
  font-family: 'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size: 16px;
  letter-spacing:0px;
  color: #a6a6a6;
  padding-right:0px;
  margin-right:-2px;
  margin-left:0px;
}

.comments a {
  text-decoration:none;
}

.comments p {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size:14px;
  color:#4f4f4f;
  margin-top:0;
  margin-bottom:5px;
  
}

.comments select:focus {
  outline:none;
}

.comment-button {
  margin-top:5px;
  margin-bottom:10px;
}

/**Comment media queries **/

@media only screen and (max-width:768px) {

  .comments {
    padding-left:0px;
    padding-right:0px;
  }

  .comment {
    padding-left:24px;
  }

  .comment .bolt {
    left:-8px;
  }

  .comment .author {
    font-family: 'BebasNeue', sans-serif;
    text-transform:uppercase;
    font-size: 16px;
    letter-spacing:0.03em;
    color: #a6a6a6;
    padding-left:5px;
    padding-right:3px;
  }

  .comment .author:before {
    padding-right:2px;
  }

  .comment .bolt-liked {
    left:-8px;
  }

}

/**User Page Styles**/

.user-header {
  height:55px;
  margin-left:30px;
  margin-right:30px;
  border-bottom: 1px solid #e8e8e8;
}

.user-edit-header {
  height:55px;
  margin-left:30px;
  margin-right:30px;
}

.user-image {
  padding-left:30px;
  padding-right:0;
  margin-top:17px;
}

.user-content {
  padding-left:20px;
  padding-right:30px;
  margin-top:8px;
  float:left;
  position:relative;
}

.user-content p {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color:#4f4f4f;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0; 
  margin-top:8px;
  margin-bottom:0;
}

.user-content .ranking {
  border-right:none;
  margin-top:0;
  margin-bottom:2px;
}

.user-feed-header {
  position:relative;
  float:left;
  margin-left:30px;
  padding-bottom:8px;
  width:96%;
  width: -moz-calc(100% - 90px);
  width: -webkit-calc(100% - 90px);
  width: calc(100% - 90px);
} 

.user-score {
  font-family: 'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size: 24px;
  color: #bababa;
  margin-right:-2px;
  margin-top:2px;
  margin-left:13px;
  line-height:35px;
  float:left;
  width:100%;

}

.user-edit {
  position:absolute;
  top:7px;
  right:32px;
  width:62px;
  height:26px;
  border:0;
  background:url(/images/edit-button.png) no-repeat top left;
  background-size: 62px 26px;
  cursor:pointer;
}


.join-date {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 13px;
  color:#a6a6a6;
  width:100%;
  float:left;
  margin-bottom:10px;
}

.user-score:before {
  display:inline-block;
  width:23px;
  height:28px;
  content:"";
  margin-bottom:-7px;
  margin-left:-20px;
  margin-right:-5px;
  background: url(/images/notification-bolt.png) no-repeat 0 0;
  background-size: 100%;
    
}

.user-sort {
  margin-right:-30px;
}

/**User page media queries **/

@media only screen and (max-width:768px) {
  
  .user-header {
    margin-left:0;
    margin-right:0;
    height:45px;
  }

  .user-edit-header {
    margin-left:0;
    margin-right:0;
    height:45px;
  }

  .user-header h2 {
    margin-left:-5px;
  }

  .user-edit-header h2 {
    margin-left:-5px;
  }

  .user-feed-header {
    padding-left:0;
    padding-right:0;
    width:100%;
    margin-left:0px;
  }

  .user-sort {
    margin-right:0px;
  }

  .user-image {
    padding-left:0;
  }

  .user-content {
    padding-right:0;
    padding-left:0;
    margin-top:0px;
  }

  .user-edit {
    right:3px;
    top:6px;
  }

}

/**  404 page Styles **/

.error-container {
  width:100%;
  padding-top:75px;
  padding-left:45px;
  padding-right:45px;
  padding-bottom:50px;
} 

.error-header {
  font-size: 36px;
  line-height:60px;
  text-align:center;
  font-family: 'BebasNeue', sans-serif;
  text-transform:uppercase;
}

/** Buttons **/

.button {
  text-decoration:none;
  line-height:33px;
  padding:1px 8px 0px 8px;
  background-color:#55bef5;
  font-family: 'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size: 18px;
  letter-spacing:0.03em;
  color:#fff;
  border-radius:3px;
  border:none;
  cursor:pointer;
}

.button:hover {
  background-color:#fff;
  color:#55bef5;
  border:1px solid #55bef5;
  line-height:31px;

}

.button:focus {
  outline:none;
}

.modal-button {
  margin-top:10px;
}




/** Leaderboard Page **/

.leader-item {
  margin-left:30px;
  width:96%;
  width: -moz-calc(100% - 56px);
  width: -webkit-calc(100% - 56px);
  width: calc(100% - 56px);
  float:left;
  border-top: 1px solid #e8e8e8;
  padding-top:10px;
  padding-bottom:3px;
 
}

.ranking {
  font-family:'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size:24px;
  color:#bababa;;
  position:relative;
  float:left;
  width:auto;
  min-width:24px;
  line-height:26px;
  border-right:1px solid #e8e8e8;
  margin-top:7px;
  margin-bottom:7px;
  padding-right:8px;
  
}

.leader-score {
  font-family:'BebasNeue', sans-serif;
  text-transform:uppercase;
  font-size:24px;
  color:#bababa;;
  position:relative;
  float:left;
  line-height:39px;
  margin-left:8px;
  min-width:55px;
}

.leader-score:before {
  display:inline-block;
  width:23px;
  height:28px;
  content:"";
  margin-bottom:-6px;
  margin-right:-2px;
  background: url(/images/notification-bolt.png) no-repeat 0 0;
  background-size: 100%;
  
}

.leader-thumbnail {
  width:5%;
  height:auto;
  float:left;
  margin-left:10px;
}

.leader-thumbnail img {
  width:100%;
  height:auto;
}

.leader-user {
  font-family:'BebasNeue', sans-serif;
  color:#333333;
  font-size:20px;
  text-transform:uppercase;
  margin-left:10px;
  margin-top:-3px;
  line-height:20px;
  text-decoration:none;

}

.leader-item a {
  text-decoration:none;
  outline:none;
}

.leader-item a:focus {
  outline:none;
}



.leader-join-date {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 13px;
  margin-left:10px;
  line-height:15px;
  color:#a6a6a6;
  float:left;

}

/**Leaderboard media queries **/

@media only screen and (max-width:768px) {

  .leader-item {
    margin-left:0px;
    width:100%;
  }

  .leader-thumbnail {
    height:40px;
    width:auto;
  }

  .leader-thumbnail img {
    height:40px;
    width:auto;
  }

  .ranking {
    font-size:20px;
    min-width:5px;
    border-right:none;
    padding-right:5px;
    line-height:24px;
    
  }

  .leader-score {
    font-size:20px;
    color:#ffd800;
    margin-left:0;
    min-width:1px;
  }

  .leader-score:before {
    display:inline-block;
    width:auto;
    height:auto;
    content:'\00B7';
    margin-bottom:0;
    margin-right:0;
    background:none;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    padding-right:4px;
    font-size:12px;
    color:#bababa;
   
  }

  .leader-user {

  }

  



}