/* Styles */

/* Global Styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Compose */
.compose {
    padding-top: 100px;
}

/* Register */
.register {
    padding-top: 100px;
}

/* Posts */
.posts {
    width: 600px;
}

.post {
    padding: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
}

.post-title {
    font-size: 20px;
    padding-bottom: 20px;
}

.post-image {
    height: 400px;
    width: auto;
}